<section class="search">
    <h2 class="text-center search-title">Entérate la ruta de aprendizaje de otros</h2>
    <form class="col-lg-12 content-public-link">
        <div class="col-md-3"></div>
        <div class="input-group input-group-lg col-md-6 search-form">
            <input type="text" class="center-block form-control input-lg" title="Ej. Machine learning..." placeholder="Ej. Machine learning...">
            <span class="input-group-btn"><button class="btn btn-lg btn-danger" type="button"><strong><i class="fas fa-search"></i></strong></button></span>
        </div>
        <div class="col-md-3"></div>
    </form>
</section>

