<div class="card mt-15">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <div class="form-group">
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="productService.selectedProduct.name" placeholder="Agregar nombre producto">
        <input type="text" class="form-control" name="category" #name="ngModel" [(ngModel)]="productService.selectedProduct.category" placeholder="Agregar nombre categoria">
        <input type="text" class="form-control" name="location" #name="ngModel" [(ngModel)]="productService.selectedProduct.location" placeholder="Agregar nombre locacion">
        <input type="text" class="form-control" name="price" #name="ngModel" [(ngModel)]="productService.selectedProduct.price" placeholder="Agregar nombre precio">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          Añadir producto
        </button>
        <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
          Resetear
        </button>
      </div>
    </form>
  </div>
</div>