<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <!--<div class="profile-userpic">-->
                    <!--<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">-->
                <!--</div>-->
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{identity.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{identity.username}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!--<div class="profile-userbuttons">-->
                    <!--<button type="button" class="btn btn-success btn-sm">Follow</button>-->
                    <!--<button type="button" class="btn btn-danger btn-sm">Message</button>-->
                <!--</div>-->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Perfil público </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Ajustes </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Seguridad </a>
                        </li>

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <fieldset>

                    <!-- Form Name -->
                    <legend>{{title}}</legend>

                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="col-md-4 control-label" for="textinput">Nombre</label>
                        <div class="col-md-4">
                            <input id="name" name="textinput" type="text" placeholder="" class="form-control">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="col-md-4 control-label" for="textinput">Apellido</label>
                        <div class="col-md-4">
                            <input id="surname" name="textinput" type="text" placeholder="" class="form-control">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="col-md-4 control-label" for="textinput">Username</label>
                        <div class="col-md-4">
                            <input id="username" name="textinput" type="text" placeholder="" class="form-control">

                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="col-md-4 control-label" for="textinput">email</label>
                        <div class="col-md-4">
                            <input id="email" name="textinput" type="text" placeholder="" class="form-control">

                        </div>
                    </div>



                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">awards</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
</div>